module.exports = {
  printWidth: 80, // 한 줄 최대 문자 수
  tabWidth: 2, // 들여쓰기 시, 탭 너비
  useTabs: false, // 스페이스 대신 탭 사용
  semi: true, // 문장 끝 세미콜론 사용
  singleQuote: true, // 작은 따옴표 사용
  trailingComma: 'all', // 꼬리 콤마 사용
  bracketSpacing: true, // 중괄호 {} 사이에 공백을 추가
  arrowParens: 'always', //화살표 함수의 매개변수가 하나일 때도 괄호를 항상 사용하도록 설정
  proseWrap: 'never', // 마크다운 포매팅 제외
  endOfLine: 'auto',
};